{% extends "layout.html" %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Blog Quotes</title>
</head>
<body>
      <h3> {{ quote }} </h3>
      <h2>{{ author }}</h2>
   <a href="{{ url_for('quote') }}" class="block refresh round">refresh</a>
</body>
</html> 
{% endblock %}