{% extends "layout.html" %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Blog Quotes</title>
</head>
<body>
      <h3 style="color:#ffff;font-family:serif"> {{ quote }} </h3>
      <h2 style="font-family: cursive; color:#ffff;margin-left:18rem;margin-top:2rem" >{{ author }}</h2>
   <a href="{{ url_for('main.quote') }}" class="block refresh round" style="text-decoration: none; font-size:25px;">refresh</a>
</body>
</html> 
{% endblock %}